<form [formGroup]="ruleSrcFldForm">
    <div class="row">
        <div class="col-md-2">                   
            <p-inputSwitch onLabel="Trim" offLabel="No Trim" formControlName="trim"></p-inputSwitch>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Prepend Value" formControlName="prepend" />
        </div>
        <div class="col-md-3">
            <source-field-select formControlName="sourceField" ngDefaultControl></source-field-select>
            <small [hidden]="ruleSrcFldForm.controls.sourceField.valid" class="text-danger">
                Source Field is required
            </small>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="Append Value" formControlName="append" />
        </div>
        <div *ngIf="ruleSrcFldForm.controls.sourceField.value != null" class="col-md-2">
            <field-format [fieldDataType]="ruleSrcFldForm.controls.sourceField.value.datatype"></field-format>
        </div>
    </div>
</form>