<div class="main-nav">
    <div class="navbar navbar-light bg-faded">
        <div class="display-inline">
            <div class="add-margin-sidebar-image">   
                <a routerLink="home">
                    <img alt="GTiHub" class="resize-sidebar-image">
                </a> 
            </div>
            <button type="button" class="btn btn-default" (click)="toggleSidebar()">
                <span class="fa fa-bars"></span>
            </button> 
        </div>       
    </div>
    <div>
        <ng-sidebar [(open)]="open" [closeOnClickOutside]="true" [keyClose]="true">
            <p-panelMenu [model]="menuItems"></p-panelMenu>
            <button type="button" class="btn btn-default" (click)="toggleSidebar()">
                <span class="fa fa-close"></span>
            </button>
        </ng-sidebar>
    </div>   
</div>